@import "Ginkgo";
@import "bootstrap/bootstrap";

$mainColor: #9fc6e3;

* {
  &, &:after, &:before {
    vertical-align: middle;
    @include box-sizing(border-box);
    @include font-smoothing(subpixel-antialiased);
  }
}

html {
  font-size: 16px;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: rgba(90, 90, 90, 1.00);

  font-size: medium;
  text-align: center;

  font-family:"Roboto", "Noto Sans TC", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  
  // 文字染色，背景色、文字色
  @include selection(rgba(120, 186, 255, 1.00), rgba(255, 255, 255, 1));
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none !important;

  &:after,
  &:before {
    color: black;
    vertical-align: middle !important;
  }

  &:hover {
    text-decoration: underline;
  }
}

button, select{
  outline: none !important;
  box-shadow: none !important;
  border-width: 0;
}

p {
  margin-bottom: 0;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.mobile-open {
  display: none !important;
  @include range-width(0, 770px) {
    display: inline-block !important;
  }
}

.mobile-close {
  @include range-width(0, 770px) {
    display: none !important;
  }
}

.mainBoxs {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;

  @include media-breakpoint-down(lg) {
    width: 98%;
  }

  @include media-breakpoint-between(xl, xxl) {
    width: 90%;
  }
}

header {
  display: inline-block;
  width: 100%;
  padding: 20px;

  @include media-breakpoint-down(md) {
    padding: 15px 10px;
  }
}

.bigbanner {
  display: inline-block;
  width: 100%;
  position: relative;

  .bannerTitle {
    display: inline-block;
    width: 90%;
    position: absolute;
    font-size: 4rem;
    font-weight: bolder;
    text-align: left;
    color: white;
  }

  .bigimg {
    display: inline-block;
    width: 100%;
    object-fit: cover;
  }
}



// text+color+bg
.listicon {
  display: inline-block;
  font-size: 2rem;
  color: $mainColor;
}



// boo
.nav-link {
  color: #383a37;

  &:hover, &:focus, &.active {
    color: $mainColor;
  }

  &.mobile-link {
    font-size: 1.3rem;
    color: $mainColor;
  }
}

.offcanvas-header {
  padding: 15px !important;
}

.offcanvas-top {
  height: fit-content;
}

.offcanvas-body {
  padding: 0 0.5rem 1rem 0.5rem !important;
}



// 刪除
.testboard {
  border: 1px solid rgba(255, 0, 0, .3);
}





