@import "Ginkgo";
@import "bootstrap/bootstrap";

$mainColor: #9fc6e3;

* {
  &, &:after, &:before {
    vertical-align: middle;
    @include box-sizing(border-box);
    @include font-smoothing(subpixel-antialiased);
  }
}

html {
  font-size: 16px;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: black;

  font-size: medium;
  text-align: center;

  font-family:"Roboto", "Noto Sans TC", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  
  // 文字染色，背景色、文字色
  @include selection(rgba(120, 186, 255, 1.00), rgba(255, 255, 255, 1));
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none !important;

  &:after,
  &:before {
    color: black;
    vertical-align: middle !important;
  }

  &:hover {
    text-decoration: underline;
  }
}

button, select{
  outline: none !important;
  box-shadow: none !important;
  border-width: 0;
}

p {
  margin-bottom: 0;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.mobile-open {
  display: none !important;
  @include range-width(0, 770px) {
    display: inline-block !important;
  }
}

.mobile-close {
  @include range-width(0, 770px) {
    display: none !important;
  }
}

.mainBoxs {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;

  @include media-breakpoint-down(lg) {
    width: 98%;
  }

  @include media-breakpoint-between(xl, xxl) {
    width: 90%;
  }
}

header {
  display: inline-block;
  width: 100%;
  padding: 20px;

  @include media-breakpoint-down(md) {
    padding: 15px 10px;
  }
}

footer {
  display: inline-block;
  width: 100%;
  padding: 20px;

  @include media-breakpoint-down(md) {
    padding: 15px 10px;
  }
}

.bigbanner {
  display: inline-block;
  width: 100%;
  position: relative;

  .bannerbox {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    position: absolute;

    @include media-breakpoint-down(lg) {
      width: 90%;
    }

    .bannerTitle {
      font-size: 5rem;
      font-weight: bolder;
      text-align: left;
      color: white;

      @include media-breakpoint-down(lg) {
        font-size: 1.875rem;
      }
    }

    .bannertext {
      font-size: 2.5rem;
      text-align: left;
      color: white;

      @include media-breakpoint-down(lg) {
        font-size: .9375rem;
      }
    }
  }

  .bigimg {
    display: inline-block;
    width: 100%;
    object-fit: cover;
  }
}

.footerimg {
  display: inline-block;
  width: 100%;
  max-width: 150px;
}

.iconimg {
  display: inline-block;
  width: 100%;
  max-width: 40px;

  @include media-breakpoint-down(lg) {
    max-width: 20px;
  }
}

.border-blue {
  border-bottom: 2px solid #0d99ff;
}



// text+color+bg
.bg-R-deep-blue {
  display: inline-block;
  width: 100%;
  background-color: #1a2757;
  @include border-radius(20px);
  padding: 30px;
}

.bg-R-blue {
  display: inline-block;
  width: 100%;
  background-color: #edf3ff;
  @include border-radius(20px);
  padding: 30px;
}

.bg-blue {
  display: inline-block;
  width: 100%;
  background-color: #edf3ff;
}

.bg-deepblue {
  display: inline-block;
  width: 100%;
  background-color: #001132;
}

.listicon {
  display: inline-block;
  font-size: 2rem;
  color: $mainColor;
}

.f15-black {
  display: inline-block;
  font-size: .9rem;
  color: black;

  > a {
    color: $mainColor;

    &:hover, &:active {
      color: $mainColor;
      text-decoration: underline !important;
    }
  }
}

.f15-blue {
  display: inline-block;
  font-size: .9rem;
  color: $mainColor;

  > a {
    color: $mainColor;

    &:hover, &:active {
      color: $mainColor;
      text-decoration: underline !important;
    }
  }
}

.f25-black {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: underline !important;

  @include media-breakpoint-down(lg) {
    font-size: .9375rem;
  }
}

.f30-b-black {
  font-size: 1.8rem;
  font-weight: bolder;

  @include media-breakpoint-down(lg) {
    font-size: .9375rem;
  }
}

.f30-b-blue {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #46a3e6;

  @include media-breakpoint-down(lg) {
    font-size: .9375rem;
  }
}

.f30-black {
  font-size: 1.8rem;
  font-weight: 300;

  @include media-breakpoint-down(lg) {
    font-size: .9375rem;
  }

  > a {
    &:hover, &:active {
      color: black;
      text-decoration: underline !important;
    }
  }
}

.f20-black {
  font-size: 1.25rem;
  font-weight: 300;

  @include media-breakpoint-down(lg) {
    font-size: .9375rem;
  }
}

.f20-white {
  font-size: 1.25rem;
  font-weight: 300;
  color: white;

  @include media-breakpoint-down(lg) {
    font-size: .9375rem;
  }
}

.f20-b-blue {
  font-size: 1.25rem;
  font-weight: bolder;
  color: #46a3e6;

  @include media-breakpoint-down(lg) {
    font-size: .9375rem;
  }
}

.f40-b-white {
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;

  @include media-breakpoint-down(lg) {
    font-size: 1.1rem;
  }
}

.f40-b-black {
  font-size: 2.5rem;
  font-weight: bolder;

  @include media-breakpoint-down(lg) {
    font-size: 1.1rem;
  }
}

.f50-b-black {
  font-size: 3rem;
  font-weight: bolder;

  @include media-breakpoint-down(lg) {
    font-size: 1.25rem;
  }
}



// link
.btn-line {
  display: inline-block;
  padding: 8px 15px;
  border: 1px solid black;
  font-size: 1.6rem;

  @include media-breakpoint-down(lg) {
    font-size: .9375rem;
  }

  &:hover, &:active {
    color: white;
    background-color: black;
  }
}



// boo
.nav-link {
  color: #383a37;

  &:hover, &:focus, &.active {
    color: $mainColor;
  }

  &.mobile-link {
    font-size: 1.3rem;
    color: $mainColor;
  }

  &.footer-link {
    display: inline-block;
    font-size: .9rem;
    color: $mainColor;
    padding: 0.3rem 0 !important;
    text-decoration: underline !important;
  }
}

.offcanvas-header {
  padding: 15px !important;
}

.offcanvas-top {
  height: fit-content;
}

.offcanvas-body {
  padding: 0 0.5rem 1rem 0.5rem !important;
}



// map
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 600px; 
  overflow: hidden; 
  max-width: 100%; 

  @include media-breakpoint-down(md) {
    height: 365px; 
  }
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}



// 刪除
.testboard {
  border: 1px solid rgba(255, 0, 0, .3);
}





